:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --main-clr: #000000;
  --blue-clr: #2196f3;
  --secondary-clr: #757575;
  --background-clr: #2f303a;
  --light-clr: #ffffff;
  --button-clr: #f5f4fa;
  --secondary-light-clr: #ffffff99;
}

.main-btn {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-clr);
}

.header-logo-web {
  color: var(--blue-clr);
}

.header-logo-web .header-logo-studio {
  color: var(--main-clr);
}

/* Шапка сайта*/
.header-logo-web,
.header-logo-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: 0.03em;
}

.header-link {
  color: var(--main-clr);
}

.header-link.current {
  color: var(--blue-clr);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-clr);
}

.header-list .header-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail,
.header-phone {
  color: var(--secondary-clr);
}

.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--blue-clr);
}

.header-info {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Баннер */
.hero {
  background-color: var(--background-clr);
}

.hero-main {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--light-clr);
}

.hero-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  color: var(--light-clr);
  background: var(--blue-clr);
}

.hero-btn:hover {
  color: var(--main-clr);
  background: var(--button-clr);
}

/* Абзацы */
.paragraph-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.paragraph-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-clr);
}

/* Галерея работ */
.hallery-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Команда */
.team-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-clr);
}

/* Подвал */
.footer {
  background-color: var(--background-clr);
}

.footer-map:hover,
.footer-map:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--blue-clr);
}

.footer-logo-web {
  color: var(--blue-clr);
}

.footer-logo-web .footer-logo-studio {
  color: var(--light-clr);
}

.footer-logo-web,
.footer-logo-studio {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-map {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--light-clr);
}

.footer-mail,
.footer-phone {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-light-clr);
}

/* Портфолио */
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background: var(--button-clr);
}

.portfolio-btn:hover {
  color: var(--light-clr);
  background: var(--blue-clr);
}

.portfolio-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-clr);
}
